@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#8B8000;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}

/*----Preloader---*/
.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #05091f;
    z-index: 10000;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.preloader svg{
    position: relative;
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.preloader svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 5;
    stroke: var(--orange);
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%,100%{
        stroke-dashoffset: 440;
    }
    50%{
        stroke-dashoffset: 0;
    }
    50.1%{
        stroke-dashoffset: 88 0;
    }
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--orange);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--orange);
    color:var(#eee);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--orange);
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .logo svg{
    color:var(--orange);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--orange);
}
.header .icons{
    display: flex;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color:#fff;
}

#menu-btn{
    display: none;
}


.header .shopping-cart{
    position: absolute;
    top:110%; right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:35rem;
    background: #fff;
}
.header .shopping-cart{
    text-align: center;
    cursor: pointer;
}

.header .shopping-cart.active{
    right:2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin:1rem 0;
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .content{
    right: 0;
    position: absolute;
}

.header .shopping-cart .box .content h3{
    color:var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color:var(--light-color);
    font-size: 1.6rem;
}
.header .shopping-cart .box .content .price{
    text-decoration: line-through;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
    display: block;
}

.header .shopping-cart .total{
    font-size: 1.2rem;
    padding:1rem 0;
    text-align: center;
    color:var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin:1rem;
}

.header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:35rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .login-form .picture{
    width: 100px;
    height: 80px;
    border-radius: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.header .login-form .gift-content{
    margin: 10px;
}
.header .login-form .gift-content h2 span{
    color: var(--orange);
    font-size: 16px;
}
.header .login-form .gift-content a{
    padding: 3px 20px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: 1px var(--orange) solid;
    cursor: pointer;
    background: transparent;
}
.header .login-form .gift-content a p{
    position: absolute;
    bottom: 2px;
    text-align: center;
    margin-left: 35px;
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
    text-transform: lowercase;
    padding: 5px;
    border-radius: 10px;
    background: #000;
    transition: all .3s ease;
    display: none;
}
.header .login-form .gift-content a:hover{
    background: var(--orange);
}
.header .login-form .gift-content a:hover p{
    display: block;
}


.header .login-form .picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(image/background1.webp) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color: white;
    font-size: 3rem;
}

.home .content h3 span{
    color:var(--orange);
}

.home .content p{
    color:rgb(215, 154, 154);
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.features .box-container .box{
    padding:3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box img{
    margin:1rem 0;
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color:var(--black);
}

.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
    padding:1rem 0;
}

.products{
    text-align: center;
}
.products .product-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-flow: row wrap;
    gap: 5px;
}
.products p{
    font-size: 1.5rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}
.products .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--orange);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: .2s all ease;
    position: relative;
    background-color: #ffff;
}
.products .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}
.products .product img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: contain;
    outline: none;
    border: none;
}
.products .product .product-description{
    text-align: start;
    padding: 10px 0;
}
.products .product .product-description span{
    color: #606063;
}
.products .product .product-description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
.products .product .product-description .rating svg{
    font-size: 12px;
    color: rgb(243, 181, 24);
}
.products .product .product-description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
.products .product a svg{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    color: var(--orange);
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}

.categories .box-container .box{
    padding:3rem 2rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: var(--box-shadow);
    outline:var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.categories .box-container .box img{
    margin:1rem 0;
    height:15rem;
}

.categories .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   line-height: 1.8;
}

.categories .box-container .box p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}

.review .review-slider{
    padding:1rem;
}

.review .review-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.review .review-slider .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.review .review-slider .box img{
    height:10rem;
    width:10rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding:1rem 0;
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3{
    padding-bottom: .5rem;
    color:var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars svg{
    color:var(--orange);
    font-size: 1.7rem;
}

.about{
    background: #fff;
    max-width: 550px;
    width: 100;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 20px;
}
.about .about-section{
    display: flex;
}

.about h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about .about-section p{
    margin: 10px;
}
.about .about-section button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 8px 12px;
    background-color: var(--orange);
    margin: 25px 20px 0 0 ;
    color: #000;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.about .about-section button:hover{
    box-shadow: 0px 10px 15px rgba(212, 231, 62, 0.3);
    transform: translateY(-10px);
}

.about .about-section img{
    width: 170px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.4);
}
@media  screen and (max-width: 768px) {
    .products .product-container{
        justify-content: center;
        gap: 0;
    }
    .products .product{
        margin: 15px;
    }
    .header .login-form .gift-content a:hover p{
        display: none;
    }
}
@media screen and (max-width: 458px){
    .about .about-section img{
        width: 100px;
        height: 80px;
        margin-left: 2px;
    }
    .products .product{
        width: 100%;
    }
}

.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 svg{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links svg{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover svg{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 3rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--orange);
}












/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

}